<sidenav>
  <!-- <div>// bg-[#f8f4f3] hover:bg-gray-950 text-gray-900</div> -->
  <div
    class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform"
  >
    <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
      <h2 class="font-bold text-2xl text-[#f8f4f3]">
        FLYERAA
        <span class="bg-[#f84525] text-white px-2 rounded-md">B2B</span>
      </h2>
    </a>
    <ul class="mt-4">
      <li class="mb-1 group">
        <div
          class="flex font-semibold items-center text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
        >
          <a
            href="/index"
            class="flex font-semibold items-center py-2 text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <i class="ri-home-2-line mr-2 text-lg"></i>
          </a>
          <span class="text-sm w-[7rem] text-start">Dashboard</span>
        </div>
      </li>
      <li class="mb-1 group">
        <div
          class="flex font-semibold items-center text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
        >
          <a
            href=""
            class="flex font-semibold items-center py-2 text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="bx bx-list-ul mr-[0.4rem] text-lg"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M15 10v11l-5 -3l-5 3v-11a3 3 0 0 1 3 -3h4a3 3 0 0 1 3 3z"
              />
              <path d="M11 3h5a3 3 0 0 1 3 3v11" />
            </svg>
          </a>
          <span class="text-sm w-[7rem] text-start">Booking</span>
        </div>
      </li>

      <li class="mb-1 group">
        <a
          href=""
          class="flex font-semibold items-center py-2 text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle"
        >
          <i class="bx bx-list-ul mr-3 text-lg"></i>
          <span class="text-sm w-[7rem] text-start">Package</span>
          <i
            class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"
          ></i>
        </a>
        <ul class="pl-7 mt-2 hidden group-[.selected]:block">
          <li class="mb-4">
            <a
              href="/package"
              class="text-[#f8f4f3] text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3"
              >International</a
            >
          </li>
          <li class="mb-4">
            <a
              href="/package"
              class="text-[#f8f4f3] text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3"
              >Domestic</a
            >
          </li>
        </ul>
      </li>
      <li class="mb-1 group">
        <a
          href="staff"
          class="flex font-semibold items-center py-2 text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
        >
          <i class="bx bx-user mr-3 text-lg"></i>
          <span class="text-sm w-[7rem] text-start">Staff</span>
        </a>
      </li>
      <li class="mb-1 group">
        <a
          href="staff"
          class="flex font-semibold items-center py-2 text-[#f8f4f3] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="bx bx-list-ul mr-2 text-lg"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 21v-13l9 -4l9 4v13" />
            <path d="M13 13h4v8h-10v-6h6" />
            <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
          </svg>
          <span class="text-sm w-[7rem] text-start">Inventry</span>
        </a>
      </li>
    </ul>
  </div>
</sidenav>
